@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'dongdong';
  src: url('/src/assets/fonts/dongdong.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  /* Resize cursor: width height */
  cursor: url('/public/images/mouse-normal.webp'), auto;
}

/* Default cursor */
body {
  cursor: url('/public/images/mouse-normal.webp'), auto;
}

/* Cursor when hovering over clickable elements */
a, button, .clickable {
  cursor: url('/public/images/mouse-clicked.webp'), pointer;
}

/* Cursor when clicking/active */
a:active, button:active, .clickable:active {
  cursor: url('/public/images/mouse-clicked.webp'), pointer;
}